ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
}

li {
    color: black;
    width: 310px;
    height: 45px;
    padding: 10px;
    margin-top: 1px;
    border: 0;
    background-color: rgba(130, 191, 234, 0.495);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    li {
        font-size: 15px;
        width: 220px;
        height: 30px;
        padding: 5px;
    }
}

@media (max-width: 767px) {
    li {
        font-size: 15px;
        width: 220px;
        height: 30px;
        padding: 5px;
    }
}
